{% extends 'base.html' %}

{% block navbar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ title }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for building in buildings %}
                        <li{{ ' class="active"' | safe if building == current.building}}>
                            <a href="{{ url_for('classroom', building=building, date=current.date) }}">{{ building }}</a>
                        </li>
                    {% endfor %}


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">日期
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for i in range(-1, 2) %}
                            <li{{ ' class="active"' | safe if current.date == i }}>
                                <a href="{{ url_for('classroom', building=current.building, date=i) }}">{{ i }}</a>
                            </li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-bordered">
            {{ classroom.data|safe }}
        </table>
    </div>
{% endblock %}
